<p id="notice"><%= notice %></p>

<p>
  <%= @post.title %>
</p>

<p>
  <%=redcloth (@post.content) %>
</p>

<% if current_user.try(:admin) %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
<% end %>

<div id="comments">
<h3>Comments:</h3>
<%= render @post.comments.reverse %>
</div>

<% if user_signed_in? %>
<h2>Add a comment:</h2>
<%= render "comments/form" %>
<% end %>
