<% title 'Gallery' %>
<h1>Albums</h1>
<% @galleries.each do |g|%>
  <div class="painting">
    <h2><%= g.name %></h2>
    <%= image_tag g.paintings.first.image_url(:thumb) if g.paintings.size > 0 %>
    <div class="actions">
        <%= link_to 'show', gallery_path(g) %>
        <% if current_user.try(:admin) %>
          | <%= link_to 'edit', edit_gallery_path(g) %> |
          <%= link_to 'remove', g, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </div>
    Images: <%= g.paintings.size %>
  </div>
<% end %>
  <div class="clear"></div>

