<%= form_for @image, :html => { multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.file_field :image %>
  </p>
  <p>
  <%= f.label :remote_image_url, "or image URL" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
