<h1>Images#upload</h1>

<%= form_for @image do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.file_field :picture %>
  </p>
  <p>
  <%= f.label :remote_image_url, "or image URL" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
