<!DOCTYPE html>
<html>
<head>
  <title>Something</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="otice"><%= notice %></p>
  <p class="lert"><%= alert %></p>
<%= yield %>

</body>
</html>
