<!DOCTYPE html>         
<html>
<head>
  <title>Something</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  </header>

  <nav>
  <% unless user_signed_in? %>
		<%= link_to "Login", new_user_session_path %>
	<% else %> 
		<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
	<% end %>
  
  <% if current_user.try(:admin?) %> |
    <%= link_to 'New Post', new_post_path %> |
    <%= link_to "New Gallery", new_gallery_path %>
  <% end %>
  </nav>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
  
  <div id="content">
  
    <div id="contentleft">
      <%= yield %>
    </div>

    <div id="contentright">

      <nav>
      <%= link_to 'Home', posts_path %><br/>
      <%= link_to 'Archive', posts_archive_path %><br/>
      <%= link_to 'Gallery', galleries_path %>
      </nav> 

    </div>

  </div>

  <footer>
  &copy; by <% User.first.email %>
  </footer>
</body>
</html>
